    <div class="col-sm-12">
            <form class="form-vertical" action="/create" method="post">

                <div class="panel panel-default">
                    <div class="panel-heading">Choose category</div>
                    <div class="panel-body">


                        <div class="row">  
                            <div class="col-sm-12 ">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm-2" style="margin-top: 10px;">
                                            <label>Category</label>

                                        </div>
                                        <div class="col-sm-9">

                                            <select id="category" class="form-control " name="category">
                                                <option value="">Choose a category</option>
                                                {{#categories}}
                                                    <option value="{{id}}">{{name}}</option>
                                                {{/categories}}
                                            </select>
                                        </div>

                                    </div>
                                </div>			
                            </div>			
                        </div>			
                    </div>			
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Ad details</div>
                    <div class="panel-body">




                        <div class="form-group">
                            <div class="row">

                                <div class="col-sm-12">
                                    <label>Title </label>
                                    <input type="text" class="form-control" name="title">
                                </div>
                                <div class="col-sm-12"><br>
                                    <label>Description </label>
                                    <textarea class="form-control col-sm-8 expand" rows="6" style="width: 99%" name="details"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <label>Image URL</label>
                                    <input type="text" name="image" class="form-control ">
                                </div>

                            </div>

                        </div>




                    </div>			
                </div>			

                <div class="panel panel-default">
                    <div class="panel-heading">Address and Email</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Street</label>
                                    <input type="text" name="address" class="form-control ">
                                </div>									     	
                                <div class="col-sm-6">
                                    <label>City</label>
                                    <input type="text" name="city" class="form-control ">
                                </div>
                                <div class="col-sm-6">
                                    <label>State</label>
                                    <input type="text" name="state" class="form-control ">
                                </div>
                                <div class="col-sm-6">
                                    <label>Zip Code</label>
                                    <input type="text" name="zipCode" class="form-control ">
                                </div>
                                <div class="col-sm-12">
                                    <label>Your email</label>
                                    <input type="email" name="email" class="form-control ">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success pull-right">Submit</button>
                    </div>
                </div>

            </form></div>