<div class="row">
    <div class="col-sm-12 listing-details">
    <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                
                                
                                <img class="img-responsive img-centered" src="{{details.image}}" alt="">
                                <p class="text-center">{{details.details}}</p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

