    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>

        <div class="col-lg-12">
        	{{#data}}
            <div class="search-result">
		    	<img src="{{pic}}" class="listing-pic"> <label>{{name}}</label>
                <p>{{desc}}</p>
            </div>
            {{/data}}
        </div>
        
    </div>
    <!-- /.row -->

    <div class="hidden" id="data">{{toJSON data}}</div>