.listing-pic {
	width: 200px;
}

#map{
	min-width: 300px;
	height: 300px;
}

.search-result {
	display: block;
	padding: 20px;

}
body,html {
	height: 100%;

}
.intro-text{
	margin-bottom: 20px;
}
.btn-default {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}

.map-link{
 color: #FAC30B ;
 cursor: pointer;
}


.img-custom  {
 height: 70px;
 width: 70px;
}

.confirm-to-proceed{
 color: #FAC30B ;
 cursor: pointer;
}

.page-scroll{
 cursor: pointer;
}

.table-custom{
 background: #F4F3EF ;
}

.portfolio-item {
    height: 410px;
    max-height: 410px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.portfolio-item img {
	height: 270px;
	max-height: 270px;
	display: inline;
}

.portfolio-link {
	background: #fff;
}