.listing-pic {
	width: 200px;
}

#map{
	min-width: 300px;
	height: 300px;
}

.search-result {
	display: block;
	padding: 20px;

}
body {
	height: 700px;

}
.intro-text{
	margin-bottom: 20px;
}
.btn-default {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}

.map-link{
 color: #FAC30B ;
 cursor: pointer;
}


.img-custom  {
 height: 70px;
 width: 70px;
}

.confirm-to-proceed{
 color: #FAC30B ;
 cursor: pointer;
}

.page-scroll{
 cursor: pointer;
}

.table-custom{
 background: #F4F3EF ;
}